#Client Dialog Configuration
#
#typewriterEnabled: Reveal dialog text character by character (default: true)
#typewriterCharsPerSecond: Number of characters revealed per second (default: 40)
#Sun Oct 04 17:23:55 GMT-03:00 2026
typewriterCharsPerSecond=40
typewriterEnabled=true
